@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f2f2bc;
}

img  {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    color: #f4c20d;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #f50b0b;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover {
    color: #ffffff;
    background: linear-gradient(to right,red, orange, yellow);
    border-radius: 25px;
    padding-inline: 15px;
}

#menu{
    display: none;
}

.menu-icono{
    width: 75px;
    
}

.menu label {
    cursor: pointer;
    display: none;
}

.header {
    display: flex;
    align-self: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}

.header-content {
    display: flex;
    flex: 1;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt span {
    font-size: 30px;
    font-weight: 600;
    color: #0f0f01;
}

.header-txt h1 {
    font-size: 150px;
    color: #f90505;
    line-height: 1;
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px 0 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 13px 35px;
    font-weight: bolder;    
    background: linear-gradient(
        90deg,
        rgb(254, 41, 3) 0%,
        rgb(232, 249, 1) 100%
    );
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
}

.about {
    padding: 0 0 100px 0;
    display: flex;
    align-items: center;
}

.about-img {
    flex-basis: 80%;
}

.about-img img {
    width: 650px;
    border-radius: 15px;
    border: 10px solid #000d11;
    padding:3%;
    margin: 30px 30px;
}

.about-txt {
    flex-basis: 60%;
}

section{
    background-color: #f506069d;
    padding: 100%;
}
h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #f5f906;
    margin-bottom: 20px;
}

.about-txt p {
    color: #fffefe;
    font-size: 17px;
    margin-bottom: 50px;
}

.butons a {
    margin-right: 15px;
}

.porfolio {
    padding: 50PX 0;
    text-align: center;
}

.porfolio-content {
    margin-top: 70px;
}

.porfolio-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.porfolio-txt{
    flex-basis: 50%;
    text-align: left;
}

.porfolio-txt span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #1c1d1e;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.porfolio-txt h3 {
    color: #f90707;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.porfolio-txt p {
    font-size: 17px;
    color: #161515;
    margin-bottom: 25px;
}

.porfolio-img {
    flex-basis: 50%;
    text-align: center;
}

.porfolio-img img {
    width: 350px;
}

.skills {
    padding: 50px 0 100px 0;
    text-align: center;
}

.skills-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 100px;
    justify-content: center;
}

.skills-content img {
    width: 300px;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 10px 10px;

}
/*PIE DE PAGINA*/
.footer {
    padding: 50px 0;
    background: linear-gradient(
        90deg,
        rgb(255, 0, 0) 0%,
        rgb(241, 143, 5) 100%
    );
}

.footer-content {
    display: flex;
    justify-content: space-between;
}


.link h3 {
    color: #fef9f9;
    font-size: 18px;
    margin-bottom: 10px;
}

.link a {
    color: #C5C5C5;
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:991px) {

    .menu{
        padding: 20px;
    
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f72104;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #ffffff;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 30px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .about {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        text-align: center;
    }

    .about-img img {
        width: 250px;
        margin-bottom: 15px;
    }

    .butons a {
        margin: 0 0 10 px 0;
    }

    .porfolio{
        padding: 30px;
    }

    .porfolio-content {
        margin-top: 30px;
    }

    .porfolio-1 {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .porfolio-txt {
        text-align: center;
        margin-bottom: 30px;
    }

    .porfolio-img {
        order: 2;
    }

    .porfolio-img img {
        width: 250px;
    }

    .skills {
        padding: 0 30px 30px 30px;
    }

    .skills-content {
        margin-top: 0;
        grid-template-columns: repeat(2 1fr);
        gap: 40px;
        padding:  0 100px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }



}

/*FORMULARIO*/

.image{
    background-image: url(123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
    
.contenedor{
    margin: 100px;
    width: 500px;
    padding: 30px;
    background: #ffffffcf;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 25px;
   
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 50px;
    color: #efd10b;
    text-align: center;
}
.contenedor .elemento label{
    color: rgb(242, 50, 11);
}
.contenedor .elemento input{
    width: 100%;
    padding: 15px 0 ;
    color: #1d0e1b;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #f8f5f40d;
   
}
.contenedor .elemento input[type="submit"]{
    background-color: #f5b30c;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10PX;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px ;
    font-weight: bold;
}
a{
    color:orange
}
select{
    padding: 10px;
    border: line
}
